---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
	.mediumnavigation .navbar-brand img  {
	max-height: 37px;
}

a {color: #007eFF; transition: color 0.5s;}

a:visited {color: #65b1ff;}

a:hover {
        color: #65b1ff;
}

a.button {
    font-size: 1.2em; text-decoration: none; color: #fff; border: 1px /* width*/ solid /*style*/ #fff; padding: 4px 15px; transition: background-color 0.5s /*animation transition between colors*/;
}
a.button:hover {
    background-color: rgba(0,0,0,.3);
}
a.more {
    font-size: 1.2em; text-decoration: none; color: #fff; border: 1px /* width*/ solid /*style*/ #fff; padding: 4px 15px; transition: background-color 0.5s /*animation transition between colors*/;
}
a.more:hover {
    background-color: rgba(0,0,0,.5);
}

a .rflag {
background: url('../assets/ui/Russian.png') no-repeat 0 0; 	
}
